<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fastdfs" type="FastDFS.Client.Config.FastDfsConfigurationSectionHandler, FastDFS.Client" />
  </configSections>
  <fastdfs>
    <FastDfsConfig GroupName="group1">
      <!--TrackerServer-->
      <FastDfsServer IpAddress="192.168.30.38" Port="22122" />
      <FastDfsServer IpAddress="192.168.30.39" Port="22122" />
    </FastDfsConfig>
  </fastdfs>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--mongodb链接字符-->
    <add key="MDB_User_Pwd_Host_Port" value="DBTest_1:admin:123456:192.168.30.78:8001" />
    <!--文件保存路径-->
    <add key="SavePath" value="F:\FastDFS_Doc\"/>
  </appSettings>
</configuration>