<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MDB_User_Pwd_Host_Port" value="DBTest_1:admin:123456:10.0.75.2:27017" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AjMobileServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="AjMobileServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:20212/OpenApi/AjMobileService.asmx"
                binding="basicHttpBinding" bindingConfiguration="AjMobileServiceSoap"
                contract="AjMobileService.AjMobileServiceSoap" name="AjMobileServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>