<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 队列地址-->
    <add key="bus" value="host=10.1.20.140;username=admin;password=admin@ucsmy"/>
    <add key="serviceName" value="业务消费队列服务"/>
    
    <add key="rabbitMq_HostName" value="192.168.30.78" />
    <add key="rabbitMq_Port" value="5672" />
    <add key="rabbitMq_UserName" value="root" />
    <add key="rabbitMq_Password" value="1vph2ZnS" />

    <add key="rabbitMq_Type" value="direct" />
    <add key="rabbitMq_ExchangeName" value="test_exchange" />
    <add key="rabbitMq_QueueName" value="test_queue" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
