<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="ConnStr" connectionString="server=119.147.218.67,39718;User ID=cms;Password=af902c64*e43d*4a9b*A66C*D462A46CAE95;database=CloudMapTravel201804;Max Pool Size=512;Connect Timeout=60;"/>
  </connectionStrings>
</configuration>